<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>

    <h1> Welcome To First Django Project </h1>
    <hr>
    <div class="Posts">
        <div class="post">
            <h2 class="title">Contact List</h2>

            <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Phone No</th>
            </tr>
          </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Shakib</td>
                  <td>01748150380</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Mostak</td>
                  <td>01834071848</td>
                </tr>
                <tr>
                  <th scope="row">3</th>

                  <td>Fayjun Nahar</td>
                  <td>017576667534</td>
                </tr>
              </tbody>
    </table>


        </div>
    </div>
</body>
</html>