<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>

    <h1> Welcome to this test project </h1>
    <hr>
    <p> Hello {{ name }}</p>
    <div class="Posts">
        <div class="post">
            <h3 class="title">Contact List</h3>
            <p class="body"> Here i am tyring to add so many contact that i need to connect them</p>
        </div>
    </div>


    <p> Here i am tyring to add so many contact that i need to connect them</p>

    <h2>Update Contact </h2>
        <p> here i am try to add conacat when i met new people</p>
</body>
</html>